<div style="width: 90%;">
  <div style="text-align: center; color: #3498db; font-weight: bold;">
    <h1><%= params.title %></h1>
  </div>
  <div>
    <p><%= params.credential %></p>
    <p><%= params.user %><strong><%= email %></strong></p>
    <p><%= params.code %><strong><%= code %></strong></p>
  </div>
</div>
